*/.DS_Store
.DS_Store?
.DS_Store
.idea/*
.gradle/*
build/*
target/*
copy.sh
local-certs.js

/out/
*.log

tightblog_data/*


etc/sqlgen/.gradle/*
etc/sqlgen/build/*

src/main/webapp/tb-ui2/

### Editor directories and files ###
.vscode
